<%= form_for [user, appointment] do |f| %>
    <div class="form-group">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
    </div>
    <div class="form-group">
    <%= f.label :date %> 
    <%= f.date_field :date %>
    </div>   
    <div class="form-group">
    <%= f.label :quantity, 'Quantity' %>
    <%= f.number_field :quantity, in: 1..5 %>
    </div> 
    <div class="form-group">
    <%= f.label :package_id, 'Package' %>
    <%= f.collection_select :package_id, Package.all, :id, :name %>
    For more information on the packages please see the packages page. 
    <%= link_to "Popular Package", packages_popular_package_path %>
    </div>
    <%= f.submit %>
<% end %>    