<h1>Listing Appointments</h1>
<% @appointments.each do |appointment| %>
    <label>Name:</label> <%= appointment.name %><br>
    <label>Date:</label> <%= appointment.date %><br>
    <label>Quantity:</label> <%= appointment.quantity %><br>  
<% end %>

<% if !!@user %>
    <%= button_to "Back to profile", user_path(@user) %>
<% else %>
    <%= link_to 'New Appointment', new_appointment_path %>
<% end %>        
