<h1>Appointments</h1>

<label> Name:</label> <%= @appointment.name %><br>
<label> Date: </label> <%= @appointment.date %><br>
<label> Quantity: </label> <%= @appointment.quantity %><br>
<label>Package:</label> <%= @appointment.package_id %><br>

<%= link_to 'Back', user_appointment_path %>

